@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: black;
  max-width: 1200px;
  margin: auto;
  color: white;
}

/* Skjul op- og ned-knapper for input type number */
::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
